html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* After CSS Reset */

:root {
    font-size: 16px;
    --rose-quartz: #AF929D;
    --moonstone: #AF929D;
    --dark-cyan: #498C8A;
    --feldgrau: #4B6858;
    --jasper: #DB504A;
}

body {
    background-color: var(--rose-quartz);
}

.header {
    background-color: var(--dark-cyan);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 10px;
    
}

h1 {
    font-size: 2rem;
}


.container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}




 


footer {
    height: 2rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500;
}

.title-input {
    background-color: transparent;
}

.task-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    
}

.list-name {
    cursor: pointer;
    list-style:square
}

.list-name:hover {
    color: white;
}

.active-list {
    color: white;
    font-weight: 800;
}

.list-title {
    font-size: 3rem;
    font-weight: 800;;
}

.task-list-header {
    font-size: 2rem;;
    font-weight: 800;
}

.lists {
    margin: 10px;
    border: 1px solid red;
}

.todo-list {
    margin: 10px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task {
    
    display: flex;
}

.date-input {
    width: 10%;
    align-items: right;
    margin-left: auto;
    
}



